<div class="puntopagos">
  <div class="view error">
    <h2><%= error_message %></h2>
    <p><%= t('punto_pagos_rails.error.detail', id: @resource.id, amount: @resource.amount, resource: @resource.class.name.downcase).html_safe %></p>
  </div>
</div>
