<div class="puntopagos">
  <div class="view success">
    <h2><%= t("punto_pagos_rails.success.title") %></h2>
    <p><%= t("punto_pagos_rails.success.detail", id: @resource.id, amount: @resource.amount, resource: @resource.class.name.downcase).html_safe %></p>
  </div>
</div>
